In [163]:
#  Paso 1: Importar librerías necesarias
%pip install pandas numpy scikit-learn seaborn matplotlib

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt

#  Paso 2: Cargar datos
ruta = "../data/IA_Client_Segment_MODIFICADO.csv"  # ajusta la ruta si es necesario
df = pd.read_csv(ruta)
df.head()

Requirement already satisfied: pandas in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (2.2.4)
Requirement already satisfied: scikit-learn in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (1.6.1)
Requirement already satisfied: seaborn in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (0.13.2)
Requirement already satisfied: matplotlib in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (3.10.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\gestion de datos\pca-clustering\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

,ID,Genero,Casado,Edad,Graduado,Profesion,Experiencia_laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos_anuales_brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
0,CLI10,F,Si,67,Si,Ingeniero,+20annos,Bajo,3,1957,Generacion X,93442,Segovia,1385,80,1,195,NaN
1,CLI100,M,Si,64,Si,Medico,+20annos,Medio,2,1960,Generacion X,99774,Alicante,1052,50,1,360,5.0
2,CLI1000,M,Si,65,Si,Artista,+20annos,Medio,3,1959,Generacion X,36756,Toledo,1717,30,0,407,3.0
3,CLI10000,M,No,33,No,Funcionario,10-20annos,Bajo,4,1991,Millennials,24616,Leon,1606,30,0,544,4.0
4,CLI10001,M,Si,52,No,Otros,+20annos,Medio,2,1972,Generacion X,29834,LLeida,1346,30,1,170,NaN

In [164]:
df.shape

(10806, 18)

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10806 entries, 0 to 10805
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         10806 non-null  object
 1   Genero                     10806 non-null  object
 2   Casado                     10616 non-null  object
 3   Edad                       10806 non-null  int64
 4   Graduado                   10703 non-null  object
 5   Profesion                  10806 non-null  object
 6   Experiencia_laboral        10806 non-null  object
 7   Gastoscore                 10806 non-null  object
 8   Family_Size                10806 non-null  int64
 9   anno_nacimiento            10806 non-null  int64
 10  Generacion                 10806 non-null  object
 11  Ingresos_anuales_brutos    10806 non-null  int64
 12  Provincia                  10806 non-null  object
 13  Digital_encuesta           10806 non-null  int64
 14  Gasto_medio_mensual_cuota  10806 non-null  int64
 15  Abandono                   10806 non-null  int64
 16  Dias_cliente               10806 non-null  int64
 17  Campanna_anno              5099 non-null   float64
dtypes: float64(1), int64(8), object(9)
memory usage: 1.5+ MB

In [166]:
df.dtypes

ID                            object
Genero                        object
Casado                        object
Edad                           int64
Graduado                      object
Profesion                     object
Experiencia_laboral           object
Gastoscore                    object
Family_Size                    int64
anno_nacimiento                int64
Generacion                    object
Ingresos_anuales_brutos        int64
Provincia                     object
Digital_encuesta               int64
Gasto_medio_mensual_cuota      int64
Abandono                       int64
Dias_cliente                   int64
Campanna_anno                float64
dtype: object

In [167]:
df.columns

Index(['ID', 'Genero', 'Casado', 'Edad', 'Graduado', 'Profesion',
       'Experiencia_laboral', 'Gastoscore', 'Family_Size', 'anno_nacimiento',
       'Generacion', 'Ingresos_anuales_brutos', 'Provincia',
       'Digital_encuesta', 'Gasto_medio_mensual_cuota', 'Abandono',
       'Dias_cliente', 'Campanna_anno'],
      dtype='object')

In [168]:
df.head(3)

,ID,Genero,Casado,Edad,Graduado,Profesion,Experiencia_laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos_anuales_brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
0,CLI10,F,Si,67,Si,Ingeniero,+20annos,Bajo,3,1957,Generacion X,93442,Segovia,1385,80,1,195,NaN
1,CLI100,M,Si,64,Si,Medico,+20annos,Medio,2,1960,Generacion X,99774,Alicante,1052,50,1,360,5.0
2,CLI1000,M,Si,65,Si,Artista,+20annos,Medio,3,1959,Generacion X,36756,Toledo,1717,30,0,407,3.0

In [169]:
df.duplicated().sum()

np.int64(0)

In [170]:
df.isnull().sum() # Valores nulos

ID                              0
Genero                          0
Casado                        190
Edad                            0
Graduado                      103
Profesion                       0
Experiencia_laboral             0
Gastoscore                      0
Family_Size                     0
anno_nacimiento                 0
Generacion                      0
Ingresos_anuales_brutos         0
Provincia                       0
Digital_encuesta                0
Gasto_medio_mensual_cuota       0
Abandono                        0
Dias_cliente                    0
Campanna_anno                5707
dtype: int64

In [171]:
df = df.dropna(subset=['Casado', 'Graduado'])
df = df.drop(columns=['anno_nacimiento'])  # Eliminar la columna ID

In [172]:
df[['Casado', 'Graduado']].isnull().sum()

Casado      0
Graduado    0
dtype: int64

In [173]:
df['Campanna_anno'] = df['Campanna_anno'].fillna('0')

In [174]:
df.isnull().sum() # Valores nulos

ID                           0
Genero                       0
Casado                       0
Edad                         0
Graduado                     0
Profesion                    0
Experiencia_laboral          0
Gastoscore                   0
Family_Size                  0
Generacion                   0
Ingresos_anuales_brutos      0
Provincia                    0
Digital_encuesta             0
Gasto_medio_mensual_cuota    0
Abandono                     0
Dias_cliente                 0
Campanna_anno                0
dtype: int64

In [175]:
# Revisión de los tipos de datos únicos por cada columna categórica
for col in df.select_dtypes(include='object').columns:
    tipos = df[col].apply(type).unique()
    print(f"{col}: {tipos}")

ID: [<class 'str'>]
Genero: [<class 'str'>]
Casado: [<class 'str'>]
Graduado: [<class 'str'>]
Profesion: [<class 'str'>]
Experiencia_laboral: [<class 'str'>]
Gastoscore: [<class 'str'>]
Generacion: [<class 'str'>]
Provincia: [<class 'str'>]
Campanna_anno: [<class 'str'> <class 'float'>]

In [176]:
# --- Label Encoding para categóricas binarias ---
label_col = ['Genero', 'Casado', "Experiencia_laboral", 'Graduado', "Gastoscore", 'Profesion', 'Generacion', "Abandono"]
le = LabelEncoder()
for col in label_col:
    df[col] = le.fit_transform(df[col])

In [177]:
df.head()

,ID,Genero,Casado,Edad,Graduado,Profesion,Experiencia_laboral,Gastoscore,Family_Size,Generacion,Ingresos_anuales_brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
0,CLI10,0,1,67,1,4,0,1,3,1,93442,Segovia,1385,80,1,195,0
1,CLI100,1,1,64,1,5,0,2,2,1,99774,Alicante,1052,50,1,360,5.0
2,CLI1000,1,1,65,1,0,0,2,3,1,36756,Toledo,1717,30,0,407,3.0
3,CLI10000,1,0,33,0,3,1,1,4,3,24616,Leon,1606,30,0,544,4.0
4,CLI10001,1,1,52,0,7,0,2,2,1,29834,LLeida,1346,30,1,170,0

In [178]:
scaler = StandardScaler()

numeric_cols = ['Edad', 'Ingresos_anuales_brutos', 'Digital_encuesta', 'Gasto_medio_mensual_cuota', 'Dias_cliente']
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
df.head()

,ID,Genero,Casado,Edad,Graduado,Profesion,Experiencia_laboral,Gastoscore,Family_Size,Generacion,Ingresos_anuales_brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
0,CLI10,0,1,1.036719,1,4,0,1,3,1,1.052557,Segovia,-0.100034,1.226055,1,-0.692744,0
1,CLI100,1,1,0.873632,1,5,0,2,2,1,1.231266,Alicante,-0.255823,0.170131,1,0.416626,5.0
2,CLI1000,1,1,0.927994,1,0,0,2,3,1,-0.547295,Toledo,0.055288,-0.533818,0,0.732628,3.0
3,CLI10000,1,0,-0.811600,0,3,1,1,4,3,-0.889922,Leon,0.003358,-0.533818,0,1.653741,4.0
4,CLI10001,1,1,0.221284,0,7,0,2,2,1,-0.742655,LLeida,-0.118280,-0.533818,1,-0.860830,0

In [179]:
# Diccionario de reemplazo
reemplazos_provincias = {
    'i\x81vila': 'Avila',
    'Guipiºzcoa': 'Guipuzcoa',
    'Almeri\xada': 'Almeria',
    'La Corui±a': 'La Corunna',
    'i\x81lava': 'Alava'
}

# Reemplazo directo
df['Provincia'] = df['Provincia'].replace(reemplazos_provincias)

# Verifica
df['Provincia'].unique()

array(['Segovia', 'Alicante', 'Toledo', 'Leon', 'LLeida', 'Ciudad Real',
       'Avila', 'Guipuzcoa', 'Vizcaya', 'Orense', 'Castellon',
       'Pontevedra', 'Almeria', 'Valladolid', 'Jaen', 'Lugo',
       'Santa Cruz de Tenerife', 'Albacete', 'Huelva', 'Salamanca',
       'Ceuta', 'Baleares', 'Gerona', 'Barcelona', 'Sevilla',
       'Guadalajara', 'Soria', 'Caceres', 'Madrid', 'Cordoba', 'Burgos',
       'Navarra', 'Melilla', 'Granada', 'Badajoz', 'Valencia',
       'Tarragona', 'La Corunna', 'Las Palmas', 'Murcia', 'Palencia',
       'La Rioja', 'Teruel', 'Zamora', 'Zaragoza', 'Alava', 'Cuenca',
       'Huesca', 'Cadiz', 'Malaga'], dtype=object)

In [180]:
mapa_comunidad_autonoma = {
    'Andalucia': ['Almeria', 'Jaen', 'Huelva', 'Sevilla', 'Cordoba', 'Granada', 'Malaga', 'Cadiz'],
    'Aragon': ['Huesca', 'Teruel', 'Zaragoza'],
    'Islas Baleares': ['Baleares'],
    'Canarias': ['Las Palmas', 'Santa Cruz de Tenerife'],
    'Castilla y Leon': ['Avila', 'Burgos', 'Leon', 'Palencia', 'Salamanca', 'Segovia', 'Soria', 'Valladolid', 'Zamora'],
    'Castilla La Mancha': ['Albacete', 'Ciudad Real', 'Cuenca', 'Guadalajara', 'Toledo'],
    'Catalunya': ['Barcelona', 'Gerona', 'LLeida', 'Tarragona'],
    'Extremadura': ['Badajoz', 'Caceres'],
    'Galicia': ['La Corunna', 'Lugo', 'Orense', 'Pontevedra'],
    'Madrid': ['Madrid'],
    'Murcia': ['Murcia'],
    'Comunidad Valenciana': ['Alicante', 'Castellon', 'Valencia'],
    'Navarra': ['Navarra'],
    'Pais Vasco': ['Alava', 'Guipuzcoa', 'Vizcaya'],
    'Rioja': ['La Rioja'],
    'Ceuta y Melilla': ['Ceuta', 'Melilla'],

}

In [181]:
def assign_comunidad_autonoma(Provincia):
    for comunidad, provincias in mapa_comunidad_autonoma.items():
        if Provincia in provincias:
            return comunidad
    return 'Desconocida'

In [182]:
df['Provincia'].nunique()

50

In [183]:
df['comunidad_autonoma'] = df['Provincia'].map(assign_comunidad_autonoma)

In [184]:
df['comunidad_autonoma'].unique()

array(['Castilla y Leon', 'Comunidad Valenciana', 'Castilla La Mancha',
       'Catalunya', 'Pais Vasco', 'Galicia', 'Andalucia', 'Canarias',
       'Ceuta y Melilla', 'Islas Baleares', 'Extremadura', 'Madrid',
       'Navarra', 'Murcia', 'Rioja', 'Aragon'], dtype=object)

In [185]:
provincia_sin_comunidad = df[df['comunidad_autonoma'].isnull()]['Provincia'].unique()

# Mostrar la lista de países con 'continent' como None
print("Lista de países con 'continent' como None:")
print(provincia_sin_comunidad)

Lista de países con 'continent' como None:
[]

In [187]:
df.drop(columns=['Provincia'], inplace=True)  # Eliminar la columna 'Provincia'

In [ ]:
df.to_csv('../data/clientes_preprocesado.csv', index=False)